<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/heroes/agregar" routerLinkActive="active" ariaCurrentWhenActive="page" mat-menu-item class="add_circle" aria-label="Icon button with add icon" mat-menu-item>
      <mat-icon>add-circle</mat-icon>
      <span>Agregar</span>
    </button>
    <button routerLink="/heroes/listado" routerLinkActive="active" ariaCurrentWhenActive="page" mat-menu-item class="table_rows" aria-label="Icon button with table rows icon" mat-menu-item>
      <mat-icon>table_rows</mat-icon>
      <span>Ver listado</span>
    </button>
  </mat-menu>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>